@{
    ViewBag.Title = "PAYROLL NON STAFF";
    ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="~/Content/Login/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">
<!--===============================================================================================-->

<input type="hidden" id="urlPath" value="@ViewBag.pathParent" />
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(@ViewBag.pathParent/Content/Login/images/tiket.gif);">
                    <span class="login100-form-title-1">
                        <img src="~/Content/img/Logo PMS.gif" width="75" style="margin:3px;" />
                    </span>
                </div>
                <center><br /><span style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:20px"><b><i>PAYROLL NON STAFF</i></b> <br>PT. PELITA MEKAR SEMESTA</span></center>
                <form class="login100-form validate-form">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text"id="UserName" placeholder="Enter username"  name="username">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" id="Password" type="password"  name="password" placeholder="Enter password">
                        <span class="focus-input100"></span>
                    </div>

                    <p>
                        <select id="sldomain" class="input100" style="margin-top:20px;">
                            <option>PT.PMS</option>
                      
                        </select>
                        <br>
                    </p>
                    <p id="profile" style="text-align:center;">
                        <input style="width:445px;" type="text" id="txtakses" />
                    </p>

                    <div class="container-login100-form-btn" div style="margin-top:30px">
                        <input type="button" class="login100-form-btn" onclick="execlogin()" id="btnlogin" value="LOGIN"/>
                    </div>
                    <p style="margin-top:20px">
                        © APPLICATION DEVELOPMENT PT.PELITA MEKAR SEMESTA
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>





<script>

     $(document).ready(function () {
         ceksession();

       
     });


     var input = document.getElementById("Password");

     // Execute a function when the user releases a key on the keyboard
     input.addEventListener("keyup", function (event) {
         // Number 13 is the "Enter" key on the keyboard
         if (event.keyCode === 13) {
             // Cancel the default action, if needed
             event.preventDefault();
             // Trigger the button element with a click
             document.getElementById("btnlogin").click();
         }
     });
     function ceklogin() {
         if ($("#UserName").val() == "") {
             alert("Username nya diisi ya..")
         }
         else if ($("#Password").val() == "") {
             alert("Kok passwordnya dikosongi?")
         }
         else {
             $.ajax({
                 url: $("#urlPath").val() + "/ACCOUNT/GetUser",
                 type: "POST",
                 contentType: "application/json",
                 data: JSON.stringify({
                     pnrp: $("#UserName").val(),
                     password: $("#Password").val(),
                 }),
                 success: function (data) {

                     location.reload();
                 }


             });
         }
     }



    function ceksession() {
        if ("@Session["NAMA"]" === "") {
           
        }
         else  {
            location.href = $("#urlPath").val() + "/HOME/Index";

        }
    }


        function execlogin() {

                ceklogin();





        }

</script>
